@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin:0;
}

body {    
    font-family: "Poppins", sans-serif;
    background-image: url(assets/florest.jpg);
}


.login{
    border-radius:  20px ;
    color: #fff;
    background-color: rgba(0, 0, 5, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}

h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    letter-spacing: 15px;
}

.login p  {
    font-weight: bold;
}

.login input{
    width: 100%;
    margin-bottom: 21px;

}

.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color:#fff;
    font-size: 16px;
}

.login input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    color: #13254b;
    background: #fff;
    border-radius: 20px;
    transition: 0.5s;
}


.login input[type="submit"]:hover{
    cursor: pointer;
    background: #13254b;
    transition: 0.5s;
    color:#fff
}


.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    transition: 0.2s;
}

login a:hover{
    transition: 0.5s;
    color: #13254b;
}


